.login-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.login__header{
    display: flex;
    justify-content: center;
}
.login__header-title{
    text-align: center;
    font-size: 30px;
}
.login {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 300px;
    border: 2px solid var(--gray-color);
    border-radius: 15px;
    padding: 30px;
    height: 50%;
}

.login__form {
    display: flex;
    flex-direction: column;
}

.login__input-container{
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid var(--blue-color);
}


.login__buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.signin-link {
    height: 11px;
    text-align: center;
    opacity: 0.8;
    margin-top: 14px;

    &:hover {
        opacity: 1;
        cursor: pointer;
    }
}

.signin-link__title {
    color: var(--dark-blue-color);
    font-size: 11px;
    line-height: 11px;
}
