.input__container {
    padding: 8px 0 20px 0;
}

.input__container-gray {
    padding: 0;
}

.input {
    border: 1px solid transparent;
    border-bottom-color: var(--blue-color);
    width: 100%;
    outline: transparent;
}

.input__error-message {
    color: var(--warning-color);
    font-size: 8px;
    line-height: 8px;
    margin-top: 8px;
}

.input__search {
    width: 290px;
    height: 32px;
    background: var(--light-gray-color);
    border-radius: 5px;
    border: 1px solid var(--light-gray-color);
    padding: 5px;

    &::-webkit-input-placeholder {
        text-align: center;
    }
    &::-moz-placeholder {
        text-align: center;
    }
    &:-ms-input-placeholder {  
        text-align: center; 
    }
}

.input__message {
    background: var(--light-gray-color);
    border: 1px solid var(--light-gray-color);
    border-radius: 30px;
    height: 32px;
    padding: 10px;
}