.password-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.password__form {
    font-size: 15px;
    line-height: 15px;
    margin: 15px 0;
    width: 500px;
}
.password__input-container{
    border-bottom: 1px solid #eee;
}
.password__input{
    text-align: right;
    
}

.password__buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
    width: 100%;
}


.password__save,
.password__return{ 
    margin: 5px 0;
}



