.current-chat-container{
    width: 100%;
    display: flex;
}

.empty-chat-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.empty-chat__title {
    font-size: 35px;
    line-height: 12px;
    text-align: center;
    color: var(--dark-gray-color);
}