


.change-profile-data__form {
    font-size: 15px;
    line-height: 15px;
    margin: 15px 0;
    width: 500px;
}
.profile__input-container{
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #eee;
}
.change-profile-data__input{
    text-align: right;
    
}

.change-profile-data__buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
    width: 100%;
}




