:root {
    --white-color: #fff;
    --gray-color: #eee;
    --dark-gray-color: rgb(58,58,58);
    --blue-color: rgb(109, 167, 255);
    --dark-blue-color: rgb(0, 60, 150);
    --red-color: rgb(216, 0, 0);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    &:before,
    &:after {
        box-sizing: border-box;
    }
}

body {
    font-size: 12px;
    line-height: 15px;
}

a {
    text-decoration: none;
    color: var(--dark-gray-color);
}

.hidden {
    transform: scale(0);
    overflow: hidden;
    pointer-events: none;
}
.hidden-error {
    display: none;
    overflow: hidden;
    pointer-events: none;
}
