* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    &:before,
    &:after {
        box-sizing: border-box;
    }
}

body {
    font-size: 12px;
    line-height: 15px;
}

a {
    text-decoration: none;
    color: rgb(56, 56, 56);
}

.hidden {
    transform: scale(0);
    overflow: hidden;
    pointer-events: none;
}
